@media (max-width: 1399px) {
    .header__right {
        display: none;
    }
    .header-inner {
        position: relative;
    }
    .logo {
        padding-left: 26px;
    }
    .header__socials {
       display: none;
    }
    .header__socials-991 {
        display: flex;
        gap: 12px;
        justify-content: center;
        text-align: center;
        margin-bottom: 24px;
    }
    .lang {
       display: none;
 
    }
    .lang-991 {
        display: flex;
        gap: 12px;
        padding: 9px 16px;
        justify-content: center;
        margin-bottom: 36px;

    }
    .navbar {
        width: 100%;
    }
    .header {
        padding: 0; 
    }
    .navbar-toggler {
        background-color: #FFCC07;
        height: 80px;
        border-radius: unset;
        border: unset;
        padding: 0 27px;
        width: 100%;
    }
    .header__nav  {
        margin-right: auto;
        margin-left: auto;
        gap: 16px;
        border-bottom: 1px solid #FFCC07;
        padding-bottom: 36px;

        margin-bottom: 36px;
        max-width: 300px;
        align-items: center;
      
    }
    .navbar-collapse {
        margin-top: 30px;
        background-image: url(../img/festival/bg-burger.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-collapse.show + .lang,
.navbar-collapse.show + .header__socials {
  display: block;
}
.flex-998 {
    display: flex;
    gap: 32px;
    align-items: center;
}
.link-998 {
    display: block;
}
.carousel-control-prev {
    display: none;
}
.carousel-control-next {
    display: none;
}
.festival__text {
font-size: 18px;
line-height: 24px;


}

.festival {
    padding: 50px 0;
}

.pills__flexbox {
    flex-direction: column;
    gap: 40px;
}
.container {
 padding: 0 60px;

}
.pills__right {
    align-self: start;
}
.pills__left-text br {
    display: none;
}
.pills__block {
    padding-bottom: unset;
}
.footer__flexbox {
    flex-wrap: wrap;
    gap: 60px;
}
.footer__form-text br {
    display: none;
}
.footer__input {
    max-width: unset;
}

.footer__socials svg {
    width: 52px;
    height: 52px;
}

.main__flexbox {
flex-direction: column;
gap: 30px;
}

.little-block {
    max-width: unset;
}

.little-block {
display: flex;
justify-content: space-between;
}

.way-svg {
    display: none;
}

.mountains {    
    top: -64px;
    left: 0;
    width: 100%;
}

.big__block {
    max-width: unset;
}

.way__block {
    height: unset;
    max-height: 720px;
}

.main__title {
font-size: 56px;
line-height: 56px;


}

.big__block {
    padding: 30px;
}

.little-block__text {
    max-width: 300px;
    display: block;
}

.little-block {
    width: 100%;
}

.main {
    background-image: url(../img/index/main-bg-768.webp);
}

.way__params {
    grid-template-columns: 1fr;
}

.way__buttons {
    flex-direction: column;

}

.way__title {
font-size: 40px;
font-weight: 700;
line-height: 36px;


}

.way__block-text {
    padding: 30px;
}

.way__yellow-btn {
    max-width: unset;
}

.way__empty-btn {
    max-width: unset;
}
.way__block-svg {
    right: 0;
}
.way__title br {
    display: none;
}
.certificate {
    background-image: url(../img/index/cert-768.webp);
}
.about__flexbox {
    align-items: unset;
}
.about__block {
    flex-shrink: 0;
}
.about__slider-text {
    max-width: 200px;
}
.about__title {

font-size: 40px;
font-weight: 700;
line-height: 36px;


}
.activity__title {
font-size: 40px;
font-weight: 700;
line-height: 36px;


}
.map {
    background-image: url(../img/index/map-768.webp);
    min-height: 424px;
}
.map__block {
    margin-left: 0px;
    max-width: 375px;
    padding: 40px 60px;
}
.map__title {
font-size: 24px;
font-weight: 700;
line-height: 28px;


}

.live__title {
font-size: 40px;
font-weight: 700;
line-height: 36px;


}
.live__grid {
    grid-template-columns: repeat(2, 1fr);
}

.live__block_none {
    display: none;
}
.mir {
    min-height: 522px;
}
.mir__text {
font-size: 40px;
font-weight: 700;
line-height: 36px;
max-width: 522px;


}

.mir__text br {
    display: none;
}
.faq__flexbox {
    flex-direction: column;
}

.faq__title br {
    display: none;
}

.social__text {
font-size: 18px;
font-weight: 700;
line-height: 21px;


}

.help__title {
font-size: 40px;
font-weight: 700;
line-height: 36px;


}
.help__block svg {
    max-width: 150px;
}
.help__block:not(:last-child) {
    padding-bottom: 50px;
}
.help__block img {
    max-width: 150px;
    height: 215px;
    object-fit: contain;
}

.faq__title_fs {
font-size: 40px;
font-weight: 700;
line-height: 36px;


}

.way__block img {
    height: -webkit-fill-available;
}

}

@media (max-width: 768px) {
    .overflow {
        width: auto;
        overflow-x: auto;
        height: 56px;
        white-space: nowrap;
    }
    .pills__pills {
        flex-wrap: nowrap;
        justify-content: unset;
        display: flex;
    }
    .overflow::-webkit-scrollbar {
        width: 0;
      }
      .about__flexbox {
        display: none;
    }
    .about-slider {
        display: block;
        margin-bottom: 100px;
    }
    .about-indicators [data-bs-target] {
        background-color: #000000;
    }
     .about-indicators  .active {
     background-color: #FFFFFF;
     }
    .about-item {
        text-align: center;
    }
    .about-indicators {
        bottom: -50px;
    }
    .about__btn  {
        max-width: unset;
    }
    .help__block_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 576px) {
    .container {
        padding: 0 35px;
    }
    .logo svg {
        width: 120px;
        height: 44px;
    }
    .link-998 {
        width: 36px;
        height: 36px;
        margin-top: -10px;
    }
    .navbar-toggler {
        height: 60px;
        padding: 0 19px;
    }
    .flex-998 {
        gap: 24px;
    }
    .carousel-item img {
        height: 375px;
        width: 100%;
    }
    .hero__title {

font-size: 30px;
line-height: 35px;
top: calc(80% - 17px);
left: calc(50% - 105px);

    }
    .carousel-indicators [data-bs-target] {
        width: 8px;
        height: 8px;
        border: unset;
        background-color: #FFFFFF;
    }
    .carousel-indicators .active {
        background-color: #FFCC07;
    }
    .festival__title {

font-size: 24px;
line-height: 28px;


    }
    .festival__text {
font-size: 16px;
line-height: 18px;
font-weight: 300;
font-family: 'FuturaFuturisLightC';
    }
    .pills__text {
        margin-bottom: unset;
    }
    .pills__name-title {
font-size: 30px;

line-height: 35px;


    }
    .pills__name-icon svg {
        width: 48px;
        height: 48px;
    }

    .pills__right {
        width: 100%;
    }

    .pills__button {
        max-width: unset;
    }
    .yellow-btn {
font-size: 16px;
line-height: 19px;


    }
    .pills__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .pills__grid-image-8, .pills__grid-image-9, .pills__grid-image-10, .pills__grid-image-11, .pills__grid-image-12, .pills__grid-image-13 {
        display: none;
    }
    .show-more {
        max-width: unset;
        
    }
    .empty-button {
font-size: 16px;

line-height: 19px;


    }
    .footer {
        padding: 36px 0 80px;
    }
    .footer__nav {
        padding-bottom: 60px;
        border-bottom: 1px solid #8C8C8C;
        width: 100%;
    }
    .footer__contacts {
        padding-bottom: 60px;
        border-bottom: 1px solid #8C8C8C;
        width: 100%;
    }
    .footer__form-flex {
        flex-direction: column;
    }
    .footer__btn {
        max-width: unset;
    }
    .footer__socials svg{
        width: 36px;
        height: 36px;
    }
    .footer__mail-2 {
font-size: 18px;
line-height: 21px;


    }
    .main {
        background-image: url(../img/index/main-bg-576.webp);
    }
    .main__date {
font-size: 18px;
font-weight: 700;
line-height: 21px;


    }
    .main__title {
font-size: 30px;
font-weight: 700;
line-height: 35px;


    }
    .main__text-2 {
font-size: 18px;
font-weight: 700;
line-height: 21px;


    }
    .main__btn {
        max-width: unset;
    }
    .little-block {
        flex-direction: column;
    }
    .little-block__block {
        max-width: 400px;
    }
    .way__carousel {
        display: block;
    }
    .way__blocks {
        display: none;
    }
    .way__block {
        flex-direction: column-reverse;
        gap: unset;
        max-height: unset;
        min-height: unset;
    }
    .carousel-item img {
        height: unset;
    }
    .way__block-svg {
        max-width: 300px;
    }
    .way__block-text {
        max-width: unset;
    }
    .way__block {
        min-height: 600px;
    }
    .way-indicators {
        bottom: -50px;
    }
    .way-indicators  [data-bs-target] {
        background-color: #000000;
    }
    .way-indicators  .active {
        background-color: #FFCC07;
    }
    .way {
        padding: 30px 0 50px;
    }
    .certificate {
        background-image: url(../img/index/cert-576.webp);
        padding: 410px 0 74px;
    }
    .certificate__title {

font-size: 30px;
font-weight: 700;
line-height: 35px;
text-align: center;


    }
    .certificate__text {
font-size: 18px;
font-weight: 300;
line-height: 24px;
text-align: center;


    }
    .certificate__btn {
        max-width: unset;
    }
    .about__title {
font-size: 30px;
font-weight: 700;
line-height: 35px;


    }
    .about {
        padding: 30px 0;
    }
   
    .activity {
        background-image: url(../img/svg/Petals-576.svg);
    }

    .map-576 {
        display: block;
    }

    .map {
        background-image: unset;
        flex-direction: column;
        width: 100%;
        max-height: unset;
        min-height: unset;

    }
    .map__block {
        max-width: unset;
    }
    .live__grid {
        grid-template-columns: 1fr;
    }
    .live__block_none-576 {
        display: none;
    }
    .live__more-btn {
        max-width: unset;
    }
    .mir__text {
font-size: 30px;
font-weight: 700;
line-height: 35px;


    }
    .faq__title {
font-size: 30px;
font-weight: 700;
line-height: 35px;


    }
    .faq__title_fs {
font-size: 24px;
font-weight: 700;
line-height: 28px;


    }
    .popup label, header label, section label {
font-size: 18px;
font-weight: 300;
line-height: 24px;


    }
    .form__btn {
        max-width: unset;
    }
    .social__socials {
        flex-wrap: wrap;
        max-width: 255px;
        margin-right: auto;
        margin-left: auto;
    }
    .help__title {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
margin-bottom: 30px;

    }
    .help__block {
        flex-direction: column;
        align-items: center;
    }
    .help__block svg {
        height: 88px;
        max-width: 96px;
    }

    .help__block img {
        height: 88px;
        max-width: 96px;
    }
    .help__subtitle {

font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: center;

    }
    .help {
        padding: 30px 0;
    }
    .help__block:not(:last-child) {
        padding-bottom: 20px;
    }
    .mountains {
        top: -55px;
    }
    .little-block__text {
        margin-right: auto;
        margin-left: auto;
    }
    .little-block__block {
        max-width: 209px;
        margin-right: auto;
        margin-left: auto;
    }
    .btn-up svg {
        max-width: 56px;
        height: 56px;
    }

}